.search-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.search-input,
.search-button {
  margin: 10px;
}

.search-input {
  width: 80%;
  height: 40px;
  width: 600px;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 18px;
}

.search-button {
  padding: 5px 10px;
  height: 40px;
  border: none;
  color: white;
  background-color: #007BFF;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

.centered-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.search-layout form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
