.search-layout {
  display: flex;
  flex-direction: row; /* Change to row to line up items horizontally */
  justify-content: space-between; /* Maximize space between search bar and button */
  align-items: center;
  height: 100%;
  width: 100%;
  min-height: 100vh; /* This should fill the whole height of the viewport */
}

.search-input,
.search-button,
.select-dropdown {
  margin: 10px;
}

.search-input {
  width: 300px;
  height: 40px;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 5px;
}

.search-button {
  padding: 5px 10px;
  height: 40px;
  border: none;
  color: white;
  background-color: #007BFF;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

.centered-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.search-layout form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
