.navbar-custom {
    background-color: #B59410;
  }
  
.navbar-custom a.navbar-brand,
.navbar-custom a.nav-link {
    color: #F5DEB3 !important;
}
  
.dropdown-menu-left-adjust {
  right: 0 !important;
  left: auto !important;
}
